<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myLibrary</title>
  </head>
  <body>
    Before
    <br>
    <%- body %>
    <br>
    After
  </body>
</html>
